.spacer { flex: 1; }

.username {
  margin-left: 4px;
  opacity: 0.85;
  font-size: 14px;
}


main { max-width: 1200px; margin: 24px auto; padding: 0 16px; }

.user-btn {
  display: flex;
  align-items: center;
  gap: 75px;
}

.avatar-wrapper {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  overflow: hidden;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  flex-shrink: 0;
}

.avatar {
  width: 125%;
  height: 125%;
  object-fit: cover;
}


